Kelly,

The attached csv file has the list of PTAs that do not have a report manager yet.

The list includes only those we charged in FY06.

Could you please let me know if you need more information?

Thanks,
Longjiang
