
Dear Customer,

In the attached CSV file, please find a brief summary of changes made in FAC database to users and machines between {$starttime} and {$endtime}.

Would you please review the changes? 

Should you have any questions, please contact fac-costing-staff@cs.cmu.edu

Thank you for your attention,

RAMS Team
fac-costing-staff@cs.cmu.edu

----------------------------------------------
{$content}
