{$header}

{$content}
Net { 
      if ($total >= 0) {
	sprintf "Increase for machines : \$ %s", $total_str;
      } else {
	sprintf "Reduction for machines: \$ %s", $total_str;
      }
    }
{sprintf('*'x72);}
* LEGEND
* 
* Contact :  U = Primary User, P = Project Supervisor, E = Equipment Admin
* Services:  B = Backup, H = Hardware, N = Network, S = Software,
*            M1/M2 = Machine Room
* CSrc    :  Charge Source
*            User = Follow Charge Distribution of Primary User
*            Hard = Hardcoded to project
* 
{sprintf('*'x72);}
{$footer}
