{$header}
{sprintf('*'x74);}

Sponsor:  U = Primary User, P = Project Supervisor, E = Equipment Admin

Charge Src:
              FollowUser = Follow Charge Src of Primary User
              Hardcoded  = Charge to specific project (hardcoded)
              Payroll    = Charge to the user's payroll distribution (labor)
{sprintf('*'x74);}
{$content}
{$footer}
